*/prometheus/data/
*/grafana/data/

# go
demo_go/.idea/*

# java
demo_java/.gradle/*
demo_java/build/*
demo_java/demo.iml
demo_java/demo.ipr
demo_java/demo.iws
demo_java/out
demo_java/bin
*/.classpath
*/.project
*/.settings/

#py
*/.venv
*/__pycache__/
*/prometheus/data/
demo_py/grafana/data/
demo_py/multiproc-tmp/
demo_py/alertmanager/data/
